@model IEnumerable<connex.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collection_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Collection_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionsDisplayMode.Display_Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionsWidthMode.Width_Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WidthMode.Width_Mode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Archived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionsDisplayMode.Display_Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionsWidthMode.Width_Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WidthMode.Width_Mode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Collection_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Collection_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Collection_ID })
        </td>
    </tr>
}

</table>
