@model connex.Models.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
@for(var i = 0; i <= Model.Banner.BannerElements.Count - 1; i++){
    
    var itemClass = "";
    if(i == 0)
    {
        itemClass = "active";
    }
    <div class="item @itemClass" align="center">
        <img src="~/@Model.Banner.BannerElements.ElementAt(i).Image_Path" alt="Image not foind" class="img-responsive">
        <div class="carousel-caption">
        </div>
    </div>
            
}
  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 </div>

<div class="col-md-2"></div>
</div>
<div>
    <h4>Page</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title_Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Default)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Default)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banner.Banner_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banner.Banner_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Page_ID }) |
    
</p>
