@model connex.Models.Library

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Library</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Library_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Library_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Added_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Archive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Archive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archive_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archive_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title_Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Library_ID }) |
    
</p>
